body {
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

button{
    cursor: pointer;
    margin: 4px;
    background-color: lightgray;
    border: 1px solid gray;
}

.numbers {
    border: 1px solid grey;
    padding: 10px;
    list-style-type: none;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

.number{
    display: inline-block;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 100%;
    padding: 5px;
    width: 25px;
    user-select: none;
    cursor: pointer;
}

.selected-number {
    background-color: lightgreen;
}